img{
    width: 300; height: 200px;
}

div{
    background-color: lightsteelblue; color: crimson; 
    
}
body{
    background-color: skyblue;
}
#kutu1,#kutu2,#kutu3,#kutu4{
    border: 2px gray;
    border-style: solid;
    width: 20px;
    height: 20px;
    background-color: orange;
    text-align: center;
}

